html.no-js(lang='en')
  head
    meta(charset='utf-8')
    link(href='styles/site.css', rel='stylesheet', type='text/css')
    link(href='images/favicon.png', rel='icon', type='image/png')
    title Mac Os
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-115905467-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-115905467-1');
  body.macos
    div.sections
      div.section.macos
        canvas(id="noVNC_canvas" width="640" height="480")
    script(src='scripts/macos.js')