html.no-js(lang='en')
  head
    meta(charset='utf-8')
    link(href='styles/site.css', rel='stylesheet', type='text/css')
    link(href='images/favicon.png', rel='icon', type='image/png')
    title Mac Os
  body
    div.sections
      div.section.macos
        canvas(id="noVNC_canvas" width="640" height="480")
    script(src='scripts/macos.js')